# Build directories
build/
build*/
cmake-build-*/

# Build artifacts
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

# Binary output
bin/

# .NET build output
obj/

# Rust build artifacts
target/

# VS Code artifacts
.vscode/

# JavaScript / Node modules
node_modules/
